server {
        listen {{ http_port }};
        root /var/www/dist;
        index index.php index.html index.htm index.nginx-debian.html;
        server_name {{ http_host }};
        location / {
                try_files $uri $uri/ =404;
        }
}